{% extends 'base.html.twig' %}

{% block title %}
	Se connecter |
				    BasketMania
{% endblock %}

{% block body %}

	<form action="{{ path('login') }}" method="POST">
		{% if error %}
			{{error.messageKey | trans(error.messageData, 'security')}}
		{% endif %}

		<h1>Se connecter</h1>
		<label for="email">Email:</label>
		<input type="email" name="_username" id="email" value="{{ email }}">

		<label for="password">Mot de passe:</label>
		<input type="password" id="password" name="_password">


		<div>
			<button type="submit">Se connecter</button>
		</div>
	</form>

{% endblock %}
