{% extends 'base.html.twig' %}

{% block title %}
	Mise a jour de products images
	{{ parent() }}
{% endblock %}

{% block body %}
	<section>
		<h1>Mise a jour de products images</h1>
		{% include 'Backend/ProductImage/_form.html.twig' with { buttonLabel: 'Modifier' } %}
		<a href="{{ path('admin.productimage.index') }}" class="btn btn-secondary mt-4">Retour à la liste</a>
	</section>
{% endblock %}
