{% extends 'base.html.twig' %}

{% block title %}
	Création d'une marque
	{{ parent() }}
{% endblock %}

{% block body %}
	<section>
		<h1>Création d'une marque</h1>

		{% include 'Backend/Marque/_form.html.twig' with { buttonLabel: 'Créer' } %}
		<a href="{{ path('admin.marque.index') }}" class="">Retour à la liste</a>
	</section>
{% endblock %}