{% extends 'base.html.twig' %}

{% block title %}
	Mise a jour d'un utilisateur
	{{ parent() }}
{% endblock %}

{% block body %}
	<section>
		<h1>Mise a jour d'un utilisateur</h1>
		{% include 'Backend/User/_form.html.twig' with { buttonLabel: 'Modifier' } %}
		<a href="{{ path('admin.user.index') }}" class="btn btn-secondary mt-4">Retour à la liste des utilisateurs</a>
	</section>
{% endblock %}
