{% extends 'base.html.twig' %}

{% block title %}
	Liste des produits
{% endblock %}

{% block body %}
	<h1>Liste des produits</h1>

	{% for product in products %}
		{% include 'Components/_pruduitCard.html.twig' %}
	{% endfor %}

	<br>
	<a href="{{ path('admin.product.create') }}">Créer un Produit</a>

{% endblock %}
